/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #111111;
}

/* main {
  padding-left: 10rem;
} */
/**************************/
/* HEADER */
/**************************/

/* .header {
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr 1fr;
} */

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 10rem;
  box-shadow: 0 0 1px;
}

.main-nav-list {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #da004c;
  transform: translateY(-10%);
}

.btn-cta {
  padding: 1rem 2rem;
  background-color: #da004c;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #e13370;
  transition: all 0.3s;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding-left: 10rem;
}

.hero {
  max-width: 100%;
  /* height: 50vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  position: relative;
}

.hero-text-box {
  padding-top: 13rem;
}

.heading-primary {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

.hero-description {
  font-size: 2.2rem;
  line-height: 1.7;
  font-weight: 500;
  padding-right: 9.8rem;
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2.4em;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 1rem 2rem;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: white;
  background-color: #da004c;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e13370;
}

.btn--outline:link,
.btn--outline:visited {
  color: #da004c;
  background-color: #fff;

  border: 1px solid #da004c;
}

/* .btn--outline:hover,
.btn--outline:active {
  box-shadow: inset 0 0 0 3px #fff;
} */

.hero-icon {
  position: absolute;
  transform: translate(-170%, 70%);
}
/* .hero-img-box {
  grid-column: 2/-1;
  grid-row: 1/-1;
} */
.hero-img {
  width: 100%;
}

.hero-zigzag {
  position: absolute;
  width: 100%;
  padding-left: 0;
  transform: translate(0%, -140%);
}

/**************************/
/* SECTION WHY*/
/**************************/

.section-why {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  padding-top: 10rem;
  padding-left: 10rem;
}

.section-learn {
  border-right: 2px solid #111111;
}

.section-schedule {
  border-right: 2px solid #111111;
  padding: 0 3.2rem 0 5.75rem;
}

.heading-tertiary {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

.section-why-description {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 2.4rem;
  font-weight: 500;
  padding-right: 8.5rem;
}

.section-why-img {
  width: 100%;
  padding-right: 8.5rem;
}

.heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 1.7rem;
}

.section-description {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 8rem;
}

.section-certification {
  padding: 0 3.2rem 0 5.75rem;
}

.group-section-img {
  width: 5.3rem;
  height: 5.3rem;
  margin-bottom: 1.7rem;
}

/**************************/
/* SECTION DESIRED*/
/**************************/

.section-desired {
  padding-top: 10rem;
  text-align: center;
}

.section-desired h2 {
  text-align: center;
}

.desired-description {
  font-size: 2.4rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 4rem;
}

.btn-group {
  display: inline-block;
  text-align: center;
  border: 2px solid #111111;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 7rem;

  /* border: 2px solid black; */
}

.btn-basic {
  border: none;
  background-color: #da004c;
  color: #fff;
  padding: 7px 1.4rem;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.btn-advanced {
  border: none;
  background-color: white;
  color: #111111;
  font-size: 2.4rem;
  padding: 7px 1.4rem;
  cursor: pointer;
}

/**************************/
/* SECTION PACKAGE - SUB SECTION OF SECTION DESIRED*/
/**************************/

.section-package {
  text-align: left;
  margin-inline: 10rem;
  background-color: #111111;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.2rem;
  padding-block: 5rem;
  border-radius: 5px;
}

.section-web-development {
  padding: 3.3rem 0 4rem 6.8rem;
}

.section-mobile-development {
  padding: 3.3rem 1.9rem 4rem 0;
}

.section-design {
  background: #da004c;
  padding: 3.3rem 1.8rem 4rem 2.9rem;
  border-radius: 5px;
}

.package-heading {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
}

.package-price {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.package-description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.package-list {
  list-style-type: square;
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
}

.package-list li {
  margin-bottom: 3rem;
}

.package-list li:last-child {
  margin-bottom: 6rem;
}

.extra {
  line-height: 1.5;
}

.grouped-btn {
  display: flex;
  align-items: center;
}

.btn-register {
  padding: 1rem 2rem;
  background-color: #da004c;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-register:hover,
.btn-register:active {
  background-color: #e13370;
}

.cta {
  background-color: #fff;
  color: #111111;
}

.cta:hover {
  background-color: #e6e6e6;
}

.Learn-More-link:link,
.Learn-More-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.Learn-More-link:hover,
.Learn-More-link:active {
  transform: all 0.3s;
  transform: translateY(-10%);
}

.coupon::after {
  content: "Coming Soon";
  background-color: #e86e04;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding: 2.1rem 1.4rem;
  display: inline-block;
  position: absolute;
  right: 17rem;
  transform: skew(-5deg);
  border-radius: 5px;
}

/**************************/
/* SECTION TESTIMONIALS*/
/**************************/
.section-testimonials {
  padding-top: 10rem;
  margin-inline: 10rem;
  text-align: center;
}

.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 11.5rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.6rem;
  text-align: left;
}

.student-testimonial {
  background-color: #e86e04;
  box-shadow: -6px 7px 0 0.5px #111111;
  border-radius: 5px;
  padding-inline: 4rem;
}

.testimonial-review {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.7;
  color: #fff;
  padding-top: 6.8rem;
  margin-bottom: 4.4rem;
}

.customers-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 6.8rem;
}

.customer-picture {
  width: 6rem;
  height: 6rem;
}

.customer-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5rem;
}

.customer-status {
  color: #fff;
  font-size: 2rem;
}

.parent-testimonial--one {
  background-color: #da004c;
  padding-inline: 4rem;
  box-shadow: -6px 7px 0 0.5px #111111;
  border-radius: 5px;
}

.parent-testimonial--two {
  background-color: #e86e04;
  padding-inline: 4rem;
  box-shadow: -6px 7px 0 0.5px #111111;
  border-radius: 5px;
}

/**************************/
/* SECTION HEARSAY*/
/**************************/

.hearsay-section {
  text-align: center;
  padding-top: 10rem;
}

.hearsay-description {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
}

.hearsay-img {
  width: 100%;
  padding-top: 4.4rem;
  padding-inline: 10rem;
}

/**************************/
/* SECTION FAQ*/
/**************************/

.section-faq {
  padding-top: 10rem;
  text-align: center;
}

.faq-description {
  font-size: 2.4rem;
  line-height: 1.6;
}

.asked-questions-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12.4rem;
  padding-inline: 10rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 7rem;
  /* width: 700px; */
}

.item {
  display: flex;
  gap: 4rem;
  padding-top: 4rem;

  /* display: grid;
  grid-template-columns: auto 1fr; */
  /* column-gap: 24px;
  row-gap: 32px; */
  align-items: center;
}

.text {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: left;
}

.answer {
  font-size: 1.8rem;
  padding-top: 1.5rem;
  font-weight: 500;
  text-align: left;
}

/* .open .hidden-box {
  display: block;
} */

.faq-card {
  background-color: #111111;
  box-shadow: -6px 7px 0 0.5px #e86e04;
  color: #fff;
  transform: rotate(-6deg);
  text-align: left;
  padding-left: 4.2rem;
  border-radius: 5px;
}

.faq-small-heading {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 80%;
  padding-top: 4.6rem;
  margin-bottom: 4rem;
}

.faq-more {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.faq-description,
.faq-description--1 {
  font-size: 2.2rem;
  font-weight: 500;
  padding-right: 6rem;
  margin-bottom: 5rem;
}

.btn--speak {
  padding: 1rem 2rem;
  background-color: #da004c;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-bottom: 5rem;
}

/**************************/
/* SECTION REGISTER*/
/**************************/

.register {
  padding-top: 10rem;
}

.register-grid {
  display: grid;
  grid-template-columns: 1.5fr auto 1fr;
  padding-right: 10rem;
}

.register-img {
  width: 100%;
  margin-bottom: -13rem;
}

.orange-icon {
  padding-top: 15rem;
  padding-right: 2rem;
}

.register-grid-col-2 {
  padding-top: 15rem;
}

.heading-register {
  font-size: 5.3rem;
  font-weight: 800;
  line-height: 1.2;
}

.heading-register span {
  color: #da004c;
}

.register-list {
  text-decoration: none;
  list-style: none;
  padding-top: 4.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.register-list li {
  font-size: 2.4rem;
  font-weight: 500;
  border: 1px solid #111111;
  padding: 1rem 2rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding-top: 7rem;
  background-color: #111111;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-inline: 10rem;
  color: #fff;
}

.footer-description {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.6;
  padding-top: 4rem;
}
.secondary {
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.grouped-logos {
  padding-top: 5.4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.grouped-logos img {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.twitter {
  stroke: #da004c;
  border-radius: 50%;
}

.footer-secondary h4 {
  padding-top: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.6rem;
}

.footer-links li {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
  list-style: none;
}

.copyright {
  border-top: 1px solid #fff;
  padding-top: 4rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  grid-column: 1/-1;
  padding-bottom: 3rem;
}

/**************************/
/* HELPER CLASS */
/**************************/
.margin-right {
  margin-right: 4rem;
}
